html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #393e46 50%, #eeeeee 50%);
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}
body{
  display: inline;
}
h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width:25%;
  margin: 4% auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);

}

#heading {
  background-color: #393e46;
  text-align: center;
}
.addList{
  float:right;
}
.btn-light{
   /* display:inline-block;*/
   margin-left: 1rem;

}
.btn-secondary{
background-color: #393e46 !important;
}
.item {
  min-height: 30%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #393e46;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 300;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button.addButton{
  min-height: 14%;
  width: 14%;
  border-radius: 50%;
  border-color: transparent;
  background-color: #393e46;
  color: #fff;
  font-size: 1.875rem;
  padding-bottom: 2%;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #393e46;
}

::placeholder {
  color: grey;
  opacity: 1;
}



footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
